@model ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
}
@{
    Layout = "_Layout";
}



<main class="mt-5" id="main">
    <!-- notification -->

    <section id="about" class="about">

        <div class="loginbody">
            <div class="container">
                <div class="login-box">
                    <div class="row">
                        <div class="col-sm-6">
                            <a asp-action="index" class="logo d-flex align-items-center">
                                <img src="~/Theme/assets/img/logo.png" alt="">
                                <span>CV Builder</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <br>
                            @if(Model?.EmailSent == true)
                            {
                                <div class="alert alert-success" role="alert">
                                    <p>Reset Password Has been Sent your Email</p>
                                </div>
                            }
                            else
                            {
                             <h2>Enter your email.</h2>

                             <hr />
                                <form method="post" asp-action="ForgotPassword">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Email" class="form-control"  aria-required="true" placeholder="name@example.com" />
                                    <label asp-for="Email" class="form-label"></label>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <button type="submit" class="w-100 btn btn-lg btn-primary">Sebmit</button>
                            </form>
                            }
                           
                        </div>
                       
                    </div>
                    <div>
                       
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End About Section -->


</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

