@model ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
}



<main class="mt-5" id="main">
    <!-- notification -->

    <section id="about" class="about">

        <div class="loginbody">
            <div class="container">
                <div class="login-box">
                    <div class="row">
                        <div class="col-sm-6">
                            <a asp-action="index" class="logo d-flex align-items-center">
                                <img src="~/Theme/assets/img/logo.png" alt="">
                                <span>CV Builder</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">                           
                            <br>
                            @if (Model?.IsSuccess == true)
                            {
                                <div class="alert alert-success" role="alert">
                                    <p>Reset Password Successfulll</p>
                                </div>
                            }
                            else
                            {
                                <h2>Reset your password.</h2>
                                <hr />

                                <form method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <input asp-for="Code" type="hidden" />
                                    <input asp-for="UserId" type="hidden" />
                                    <div class="form-floating mb-3">
                                        <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                                        <label asp-for="Password" class="form-label"></label>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                                        <label asp-for="ConfirmPassword" class="form-label"></label>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
                                </form>
                            }
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section><!-- End About Section -->


</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

