*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

*::-moz-selection {
  color: white;
  background-color: #006894;
}

*::selection {
  color: white;
  background-color: #006894;
}

body {
  height: 100vh;
  overflow: hidden;


  background-color: #ffffff;
  color: #ebebeb;
  font-family: Arial, Helvetica, sans-serif;
}

    body .container-main-page {
        
       
       
        border-right: 0.1rem solid rgba(158, 158, 158, 0.4);
        border-left: 0.1rem solid rgba(158, 158, 158, 0.4);
        -webkit-box-shadow: 0 0 2rem rgba(158, 158, 158, 0.4);
        box-shadow: 0 0 2rem rgba(158, 158, 158, 0.4);
    }
    body .container-main-page2 {
       
        width: 30%;
        padding: 0 3rem;
        border-right: 0.1rem solid rgba(158, 158, 158, 0.4);
        border-left: 0.1rem solid rgba(158, 158, 158, 0.4);
        -webkit-box-shadow: 0 0 2rem rgba(158, 158, 158, 0.4);
        box-shadow: 0 0 2rem rgba(158, 158, 158, 0.4);
    }

body .container-main-page::-webkit-scrollbar {
  display: none;
}


body.loading .preloader {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #131313;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body.loading .preloader .load-line {
  width: 8rem;
  height: 0.5rem;
  opacity: 0;
  border-radius: 5rem;
}

body.loading .preloader .line-1 {
  background-color: #860000;
  -webkit-animation: load 1s ease infinite 0s;
  animation: load 1s ease infinite 0s;
}

body.loading .preloader .line-2 {
  background-color: #005994;
  -webkit-animation: load 1s ease infinite 0.5s;
  animation: load 1s ease infinite 0.5s;
}

body.loading .preloader .line-3 {
  background-color: #d8d800;
  -webkit-animation: load 1s ease infinite 1s;
  animation: load 1s ease infinite 1s;
}

body.loading .preloader .line-4 {
  background-color: #00804b;
  -webkit-animation: load 1s ease infinite 1.5s;
  animation: load 1s ease infinite 1.5s;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotateZ(0) translate(-100%, 2rem);
    transform: rotateZ(0) translate(-100%, 2rem);
    opacity: 0.2;
  }

  50% {
    -webkit-transform: rotateZ(180deg) translate(0%, -2rem);
    transform: rotateZ(180deg) translate(0%, -2rem);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate(100%, 2rem);
    transform: rotateZ(360deg) translate(100%, 2rem);
    opacity: 0.2;
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotateZ(0) translate(-100%, 2rem);
    transform: rotateZ(0) translate(-100%, 2rem);
    opacity: 0.2;
  }

  50% {
    -webkit-transform: rotateZ(180deg) translate(0%, -2rem);
    transform: rotateZ(180deg) translate(0%, -2rem);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate(100%, 2rem);
    transform: rotateZ(360deg) translate(100%, 2rem);
    opacity: 0.2;
  }
}

.fa-info-circle {
  margin-left: 0.4rem;
}

.fa-info-circle:hover {
  cursor: pointer;
}

body.loaded .preloader {
  display: none;
}

body.active-info {
  overflow: hidden;
}

body.active-info #layoff {
  visibility: visible;
  opacity: 1;
}

body.active-info #instructions {
  visibility: visible;
  opacity: 1;
}

#layoff {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.589);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  width: 100%;
  height: 110%;
}

#instructions {
  position: absolute;
  background-color: white;
  color: black;
  padding: 1rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 0.1rem solid black;
  z-index: 999;
  border-radius: 0.5rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  width: 70%;
  min-width: 25rem;
  max-width: 50rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow-y: auto;
}

#instructions .content-ins h2 {
  text-align: center;
}

#instructions .content-ins ul {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

#instructions .content-ins ul li {
  text-align: justify;
  font-weight: 600;
  margin-top: 0.5rem;
}

#instructions #close-info-btn {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.2rem;
  font-weight: 900;
}

header {
  padding: 0.5rem;
  border-bottom: 0.1rem solid grey;
  margin-bottom: 1rem;
}

header .page-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 900;
  text-align: center;
}

header .btn-cont {
  display: flex;
  justify-content: end;
  align-items: center;
}

header .btn-cont .heading-btn {
  background-color: #00a2ff;
  border-radius: 1rem;
  color: white;
  border: none;
  padding: 0.5rem;
  font-family: 'Noto Serif JP', serif;
  margin: 0.2rem 0.5rem;
}

header .btn-cont .heading-btn:hover,
header .btn-cont .info:hover {
  cursor: pointer;
}

.heading-btn span {
  margin-left: 0.2rem;
}

.CV-container {
  padding: 1.2rem 0.8rem;
  color: black;
  background-color: white;
}

.CV-container .CV-head {
  border-bottom: 0.1rem solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0.8rem;
  padding-bottom: 0.3rem;
}

.CV-container .CV-head .intro-section {
  width: 70%;
}

.CV-container .CV-head .intro-section .name {
  font-size: 1.5rem;
  font-weight: 800;
}

.CV-container .CV-head .intro-section .post {
  font-size: 1rem;
}

.CV-container .CV-head .intro-section .about {
  padding: 0.2rem;
  font-size: 0.8rem;
  color: #5694a7;
}

.CV-container .CV-head .contact-section {
  width: 30%;
}

.CV-container .CV-head .contact-section .skill-text {
  font-size: 0.8rem;
  text-align: right;
  margin: 0.15rem;
  color: #252525;
}

.CV-container .CV-head .contact-section .skill-text .skill-link:hover {
  cursor: pointer;
}

.CV-container .CV-head .contact-section.download-active #user-web-link {
  display: none;
}

.CV-container .main-CV.download-active #user-web-link {
  display: none;
}

.CV-container .main-CV.download-active .left-section .CV-section .delete-section {
  display: none;
}

.CV-container .main-CV.download-active .left-section .CV-section .switch-to-table {
  display: none;
}

.CV-container .main-CV.download-active .left-section .CV-section .section-content .education-table th:last-child {
  display: none;
}

.CV-container .main-CV.download-active .left-section .CV-section .section-content .education-table td:last-child {
  display: none;
}

.CV-container .main-CV.download-active .left-section .CV-section .section-content .content-list .content-item .brief-cont .link-input {
  display: none;
}

.CV-container .main-CV.download-active .left-section .CV-section .section-content .content-list .content-item .delete-info {
  display: none;
}

.CV-container .main-CV.download-active .left-section .CV-section .section-content .content-list .content-item .content-item-desc-list .content-item-desc-item .delete-info {
  display: none;
}

.CV-container .main-CV.download-active .left-section .CV-section .section-content .add-more {
  display: none;
}

.CV-container .main-CV.download-active .left-section .CV-section .section-content .add-more#add-edutab-btn {
  display: none;
}

.CV-container .main-CV.download-active .left-section .CV-section .section-content .add-more#add-edu-btn {
  display: none;
}

.CV-container .main-CV.download-active .right-section .CV-section .delete-section {
  display: none;
}

.CV-container .main-CV.download-active .right-section .CV-section .CV-skill-wrap .skill-block .delete-info {
  display: none;
}

.CV-container .main-CV.download-active .right-section .CV-section .CV-skills-list .skill-item .delete-info {
  display: none;
}


.CV-container .main-CV.download-active .right-section .CV-section .add-more {
  display: none;
}

.CV-container .main-CV {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.2rem;
}

.CV-container .main-CV .left-section {
  width: 66%;
  border-right: 0.1rem solid grey;
  padding: 0.5rem;
}

.CV-container .main-CV .left-section .CV-section.dragging {
  opacity: 0.5;
  background-color: silver;
}

.CV-container .main-CV .left-section .CV-section {
  position: relative;
}

.CV-container .main-CV .left-section .CV-section .delete-section {
  color: #dd2a2a;
  position: absolute;
  top: 0;
  right: 0.2rem;
  cursor: pointer;
}

.CV-container .main-CV .left-section .CV-section .switch-to-table {
  position: absolute;
  color: grey;
  top: 0;
  right: 2rem;
  font-size: 0.9rem;
}

.CV-container .main-CV .left-section .CV-section .CV-section-head {
  color: rgba(0, 115, 168, 0.822);
  font-weight: 600;
  font-size: 1.2rem;
}

.CV-container .main-CV .left-section .CV-section .section-content {
  margin-left: 0.8rem;
}

.CV-container .main-CV .left-section .CV-section .section-content.active-tab .education-table {
  display: block;
}

.CV-container .main-CV .left-section .CV-section .section-content.active-tab .content-list {
  display: none;
}

.CV-container .main-CV .left-section .CV-section .section-content.active-tab #add-edutab-btn {
  display: flex;
}

.CV-container .main-CV .left-section .CV-section .section-content.active-tab #add-edu-btn {
  display: none;
}

.CV-container .main-CV .left-section .CV-section .section-content #add-edutab-btn {
  display: none;
}

.CV-container .main-CV .left-section .CV-section .section-content #add-edu-btn {
  display: flex;
}

.CV-container .main-CV .left-section .CV-section .section-content .education-table {
  display: none;
  width: 100%;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.7rem;
}
.scrollable-div {
    width: 300px; /* Set the desired width */
    height: 200px; /* Set the desired height */
    overflow: auto; /* Add scrollbars when content overflows */
    border: 1px solid #ccc; /* Optional: Add a border for styling */
}
.CV-container .main-CV .left-section .CV-section .section-content .education-table tr th:first-child {
  border-left: 0.1rem solid black;
}

.CV-container .main-CV .left-section .CV-section .section-content .education-table tr td:first-child {
  border-left: 0.05rem solid black;
}

.CV-container .main-CV .left-section .CV-section .section-content .education-table tr th {
  border-top: 0.1rem solid black;
  border-right: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
  padding: 0.2rem;
}

.CV-container .main-CV .left-section .CV-section .section-content .education-table tr .tb-name {
  width: 25%;
}

.CV-container .main-CV .left-section .CV-section .section-content .education-table tr .tb-degree {
  width: 25%;
}

.CV-container .main-CV .left-section .CV-section .section-content .education-table tr .tb-grade {
  width: 10%;
}

.CV-container .main-CV .left-section .CV-section .section-content .education-table tr .tb-ach {
  width: 25%;
}

.CV-container .main-CV .left-section .CV-section .section-content .education-table tr .tb-year {
  width: 10%;
}

.CV-container .main-CV .left-section .CV-section .section-content .education-table tr .tb-del {
  width: 5%;
}

.CV-container .main-CV .left-section .CV-section .section-content .education-table tr td {
  border-right: 0.05rem solid black;
  border-bottom: 0.05rem solid black;
  padding: 0.2rem;
}

.CV-container .main-CV .left-section .CV-section .section-content .education-table tr td .delete-info {
  color: grey;
}

.CV-container .main-CV .left-section .CV-section .section-content .content-list {
  display: block;
}

.CV-container .main-CV .left-section .CV-section .section-content .content-list .content-item::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #519cbf;
  border-radius: 50%;
  -webkit-transform: translate(-150%, 50%);
  transform: translate(-150%, 50%);
}

.CV-container .main-CV .left-section .CV-section .section-content .content-list .content-item {
  position: relative;
  margin: 0.1rem;
  list-style: none;
}

.CV-container .main-CV .left-section .CV-section .section-content .content-list .content-item .head-link-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.CV-container .main-CV .left-section .CV-section .section-content .content-list .content-item .delete-info {
  position: absolute;
  right: 0;
  top: 0;
}

.CV-container .main-CV .left-section .CV-section .section-content .content-list .content-item .delete-info:hover {
  cursor: pointer;
}

.CV-container .main-CV .left-section .CV-section .section-content .content-list .content-item .content-item-head {
  font-size: 1rem;
  font-weight: 600;
}

.CV-container .main-CV .left-section .CV-section .section-content .content-list .content-item .brief-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0.5rem;
  align-items: center;
}

.CV-container .main-CV .left-section .CV-section .section-content .content-list .content-item .brief-cont .content-item-role {
  color: grey;
  padding: 0 0.3rem;
  font-size: 0.7rem;
  border-right: 0.1rem solid grey;
}

.CV-container .main-CV .left-section .CV-section .section-content .content-list .content-item .brief-cont .content-item-duration {
  color: grey;
  font-size: 0.7rem;
  padding-left: 0.3rem;
}

.CV-container .main-CV .left-section .CV-section .section-content .content-list .content-item .brief-cont .content-item-link {
  color: #00668f;
  text-transform: uppercase;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  padding: 0.1rem;
  text-decoration: none;
  font-weight: 900;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.CV-container .main-CV .left-section .CV-section .section-content .content-list .content-item .brief-cont .content-item-link:hover {
  cursor: pointer;
}

.CV-container .main-CV .left-section .CV-section .section-content .content-list .content-item .brief-cont .link-input {
  margin-left: 0.3rem;
  width: 5rem;
}

.CV-container .main-CV .left-section .CV-section .section-content .content-list .content-item .content-item-desc-list {
  padding: 0.1rem;
}

.CV-container .main-CV .left-section .CV-section .section-content .content-list .content-item .content-item-desc-list .content-item-desc-item:not(:last-child) {
  border-bottom: 0.1rem solid rgba(156, 156, 156, 0.062);
}

.CV-container .main-CV .left-section .CV-section .section-content .content-list .content-item .content-item-desc-list .content-item-desc-item {
  padding: 0.1rem;
  padding-left: 0.2rem;
  position: relative;
  list-style-type: none;
}

.CV-container .main-CV .left-section .CV-section .section-content .content-list .content-item .content-item-desc-list .content-item-desc-item .content-desc-text {
  font-size: 0.7rem;
}

.CV-container .main-CV .left-section .CV-section .section-content .content-list .content-item .content-item-desc-list .content-item-desc-item .delete-info {
  position: absolute;
  right: 0;
  color: grey;
  top: 50%;
  font-size: 0.8rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.CV-container .main-CV .left-section .CV-section .section-content .add-more {
  font-size: 1rem;
  border: 0.1rem solid black;
  margin: 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
  font-weight: 700;
  background-color: #c5dfe9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.CV-container .main-CV .left-section .CV-section .section-content .add-more:hover {
  cursor: pointer;
}

.CV-container .main-CV .right-section {
  width: 33%;
  padding: 0.5rem;
}

.CV-container .main-CV .right-section .CV-section {
  margin: 1rem 0.2rem;
  position: relative;
}

.CV-container .main-CV .right-section .CV-section .delete-section {
  color: #dd2a2a;
  position: absolute;
  top: 0;
  right: 0.2rem;
  cursor: pointer;
}

.CV-container .main-CV .right-section .CV-section .CV-sec-head {
  color: rgba(0, 115, 168, 0.822);
  font-weight: 600;
  font-size: 1.2rem;
}

.CV-container .main-CV .right-section .CV-section .CV-skills-list {
  margin: 0.3rem;
  padding-left: 0.8rem;
}

.CV-container .main-CV .right-section .CV-section .CV-skills-list .skill-item::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #519cbf;
  border-radius: 50%;
  -webkit-transform: translate(-150%, 50%);
  transform: translate(-150%, 50%);
}

.CV-container .main-CV .right-section .CV-section .CV-skills-list .skill-item {
  position: relative;
  list-style: none;
}

.CV-container .main-CV .right-section .CV-section .CV-skills-list .skill-item .skill-head {
  font-weight: 600;
  margin-right: 0.4rem;
  font-size: 0.9rem;
}

.CV-container .main-CV .right-section .CV-section .CV-skills-list .skill-item .skill-text {
  font-size: 0.8rem;
}

.CV-container .main-CV .right-section .CV-section .CV-skills-list .skill-item .skill-text .skill-link:hover {
  cursor: pointer;
}

.CV-container .main-CV .right-section .CV-section .CV-skills-list .skill-item .delete-info {
  position: absolute;
  right: 0;
  top: 50%;
  color: grey;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
}

.CV-container .main-CV .right-section .CV-section .CV-skills-list .skill-item .delete-info:hover {
  cursor: pointer;
}

.CV-container .main-CV .right-section .CV-section .CV-skill-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 0.4rem;
}

.CV-container .main-CV .right-section .CV-section .CV-skill-wrap .skill-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  background-color: #1a81bd;
  color: white;
  padding: 0.2rem 0.3rem;
  margin: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  align-items: center;
}

.CV-container .main-CV .right-section .CV-section .CV-skill-wrap .skill-block .delete-info {
  color: #ccc;
  margin-left: 0.2rem;
  font-size: 0.8rem;
}

.CV-container .main-CV .right-section .CV-section .CV-skill-wrap .skill-block .delete-info:hover {
  cursor: pointer;
}

.CV-container .main-CV .right-section .CV-section .add-more {
  font-size: 1rem;
  border: 0.1rem solid black;
  margin: 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
  font-weight: 700;
  background-color: #c5dfe9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.CV-container .main-CV .right-section .CV-section .add-more:hover {
  cursor: pointer;
}

footer {
  padding: 0.5rem;
  border-top: 0.1rem solid grey;
  margin-top: 1rem;
}

footer .foot-heading {
  padding: 0.3rem;
  text-align: center;
  font-size: 1.2rem;
}

footer .copyright {
  text-align: center;
  color: grey;
  font-size: 0.8rem;
}

footer .social-med {
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .social-med .social-icon {
  margin: 0.5rem;
}

footer .social-med .social-icon a {
  text-decoration: none;
  font-size: 1.7rem;
  color: #afafaf;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .social-med .social-icon .fa-facebook-square:hover {
  color: #0066ff;
}

footer .social-med .social-icon .fa-github:hover {
  color: #54069c;
}

footer .social-med .social-icon .fa-linkedin-square:hover {
  color: #6ab4fa;
}

footer .social-med .social-icon .fa-envelope-o:hover {
  color: #ff3300;
}